@model LMSBL.DBModels.TblQuiz
@{
    ViewBag.Title = "Edit Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Edit Quiz</h4>

@using (Html.BeginForm("AddQuiz", "Quiz", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="row col-12">
        <hr class="form-divider">
    </div>
    <form class="form-inline">
        <div class="row col-12">
            @Html.HiddenFor(model => model.hdnEditData, new { @id = "hdnEditData" })
            @Html.HiddenFor(model => model.hdnData, new { @id = "hdnData" })
            @Html.HiddenFor(model => model.QuizId)
            @Html.LabelFor(model => model.QuizName, new { @class = "col-3 p-0" })
            @Html.TextBoxFor(model => model.QuizName, new { @class = "col-6 ml-0 form-control" })

            <hr class="form-divider">
        </div>
        <div class="row col-12">
            @Html.LabelFor(model => model.QuizDescription, new { @class = "col-3 p-0" })
            @Html.TextBoxFor(model => model.QuizDescription, new { @class = "col-6 form-control ml-0" })     
            
            <hr class="form-divider">
        </div>
        <div class="row col-12">
            @Html.LabelFor(model => model.Duration, new { @class = "col-3 p-0" })
            @Html.TextBoxFor(model => model.Duration, new { @class = "col-6 ml-0 form-control ml-0" })

            <div class="form-group  col-sm-3 col-md-3">
                <a><button type="button" id="btnAddQuestion" class="btn pl-4 pr-4 text-center btn-warning pull-right">Add Question</button></a>
            </div>
            <hr class="form-divider">
        </div>
        <div id="dvQuestions"></div>

        <div class="row col-12" style="margin-bottom: 34px;">
            <hr class="form-divider">
            <div class="col-8">

            </div>
            <div class="col-4">
                <button type="submit" onclick="location.href='@Url.Action("Index", "Quiz")';return false;"
                        class="btn btn-outline-secondary">
                    <b>Cancel</b>
                </button>
                <button type="submit" id="btnQuizSubmit" class="btn btn-outline-secondary"><b>Submit</b></button>
            </div>
        </div>
    </form>
}


<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

<!-- include summernote css/js -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
<script src="~/assets/Quiz.js"></script>
