@model LMSBL.DBModels.TblQuiz
@{
    ViewBag.Title = "View Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

<h4 class="launch-label">View Quiz</h4>

@using (Html.BeginForm("SubmitQuiz", "Assignment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <form class="form-inline">
        @Html.HiddenFor(model => model.QuizId)
        @Html.HiddenFor(model => model.hdnResponseData, new { @id = "hdnResponseData" })
        @Html.HiddenFor(model => model.hdnViewData, new { @id = "hdnViewData" })
        <div class="row col-12">
            <div class="row col-12">
                <label class="col-3 p-0">Quiz Name :  </label><div class="col-6 ml-0">
                    @Model.QuizName
                </div>
            </div>
            <div class="row col-12">
                <label class="col-3 p-0">Quiz Description :  </label>
                <div class="col-6 ml-0">@Model.QuizDescription</div>
            </div>
        </div>

        <div id="dvQuestions"></div>
        <div class="row clearfix">
            <div class="paginator col">
                <ul id="paginator-list">
                </ul>
            </div>
            <div class="col">
                <a href="@Url.Action("Index", "Quiz")">
                    <button type="button" id="btnCancel" class="btn btn-secondary pull-right ml-3"><b>Cancel</b></button>
                </a>
                <button type="submit" id="btnResponseSubmit" class="btn btn-secondary pull-right ml-3"><b>Submit</b></button>
                <button type="button" id="btnNext" class="btn btn-secondary pull-right ml-3"><b>Next</b></button>
                <button type="button" id="btnPrev" class="btn btn-secondary pull-right ml-3"><b>Prev</b></button>


            </div>
        </div>

        @*<div class="col-12 clearfix mt-5 p-0 text-center">
                <button type="button" id="btnCancel" class="btn btn-outline-secondary">
                    <b>Cancel</b>
                </button>
            </div>*@
    </form>
}

<!-- include summernote css/js -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
<script src="~/assets/Quiz.js"></script>
