@model List<LMSBL.DBModels.tblForum>
@{
    ViewBag.Title = "ForumList";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="container-fluid mt-4 mb-4 pl-4 pr-4">
    @if (!string.IsNullOrEmpty(Convert.ToString(TempData["Message"])))
    {
        if (Convert.ToString(TempData["Message"]) == "-1")
        {
            <script>
                swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went Wrong!'
                })</script>
        }

    }
    <div class="mt-5 pt-3 pl-3 pr-3 course-list-container">
        <div class="row">
            <div class="col-lg-6 col-md-12 search-container test">
                <i class="fas fa-search"></i>
                <input class="search-box" type="text" id="txtSearch" placeholder="Search Forum by name..." />
            </div>
            @*<div class="col-lg-6 col-md-12 text-right">
                    <ul class="list-inline progress-list mt-2">
                        <li class="list-inline-item">
                            <a href="@Url.Action("AddForum", "Forum")">
                                <button class="btn btn-secondary dropdown-toggle create-learning-btn" type="button">
                                    <i class="fas fa-plus-circle"></i> Add Forum
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>*@
        </div>
        <div class="row mt-3" id="dvActivityData">
            <div class="table-responsive">
                <table class="table" id="activityTable">
                    <thead>
                        <tr>
                            <th scope="col">Sr No.</th>
                            <th scope="col">Forum Title</th>
                            <th scope="col">Forum Description</th>
                            <th scope="col">Forum Type</th>
                            <th scope="col">Date Added</th>
                            @*<th scope="col">Is Brodcast</th>*@
                            <th scope="col" style="text-align:center;" class="action-column">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            var index = 0;
                            if (Model.Count > 0)
                            {

                                foreach (var forum in Model)
                                {
                                    index++;
                        <tr>
                            <td class="add-column-padding">@index</td>
                            <td>@forum.Title</td>
                            <td style="max-width:200px;">@forum.Description</td>

                            @if (forum.ForumType == 1)
                            {
                                <td>Announcement</td>
                            }
                            else
                            {
                                <td>Group Discussion</td>
                            }
                            <td>@forum.CreatedDate</td>

                            <td style="text-align:center;">
                                
                                <a href="@Url.Action("EditForum", "Forum", new { id = forum.ForumId })" class="login" title="Edit"><img src="~/assets/images/shape_editUser.png" /></a>&nbsp; &nbsp;

                            </td>

                            </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8" align="center">No User Available</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8">No User Available</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    
    $(document).ready(function () {
        $('#activityTable').DataTable({
            "aaSorting": [[0, "desc"]],
            "paging": true,
            "ordering": true,
            "rowReorder": true,
            "info": true,
            "bFilter": true,
            "pageLength": 10,
            "pagingType": "simple_numbers",
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-1]
                }
            ]
            //language: {
            //    paginate: {
            //        next: '&#8594;', // or '→'
            //        previous: '&#8592;' // or '←'
            //    }
            //}
        });



        $('#activityTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) == 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable').DataTable();
            table.draw();
            table.rowReordering();
        });
        
</script>

<style>

    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>


