@model LMSWeb.ViewModel.CRMNotesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
}


@using (Html.BeginForm("AddNotes", "FileNotes", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmaddNotes", @class = "multisteps-form__form" }))
{

    <div class="multisteps-form__panel shadow p-4 list-box bg-white" data-animation="scaleIn">
        <h5 class="multisteps-form__title">File Notes</h5>

        @Html.DropDownListFor(model => model.objCRMnotes.ClientId, new SelectList(Model.lstCRMclient, "Value", "Text"), "Select Client", htmlAttributes: new { id = "ddlclientlist", @class = "input100" })
        @Html.DropDownListFor(model => model.objCRMnotes.SubStage, new SelectList(Model.lstSubStages, "Value", "Text"), "Select Sub stage", htmlAttributes: new { id = "ddlSubStageList", @class = "input100" })
        @Html.RadioButtonFor(model => model.objCRMnotes.CommunicationSource, "Phone") Phone
        @Html.RadioButtonFor(model => model.objCRMnotes.CommunicationSource, "In Person") In Person
        @Html.RadioButtonFor(model => model.objCRMnotes.CommunicationSource, "Chat") Chat
        @Html.RadioButtonFor(model => model.objCRMnotes.CommunicationSource, "Email") Email
        <div class="multisteps-form__content">
            @Html.TextAreaFor(model => model.objCRMnotes.Notes, new { @class = "input150", id = "txtnotes" })
        </div>
        <br />
        <div class="button-row d-flex mt-4">
            <button type="button" id="btnReplySubmit" class="btn btn-primary ml-auto js-btn-next"> Save Changes</button>
        </div>
        <br />
    </div>
    <br />
    <br />
    
    <div id="dvClientNotes" style="display:none;">

        @Html.Partial("~/Views/FileNotes/_NotesList.cshtml", Model)
    </div>
}

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.js"></script>

<script>
    $(document).ready(function () {
        $('#txtnotes').summernote();

        $('#btnReplySubmit').on("click", function () {
            AddReplyToDB();
        });
    });

    $('#ddlclientlist').change(function () {
        $('#ddlclientlist option').each(function (index) {
            if (($(this).is(':selected'))) {
                var id = this.value;

                if (id != null && id != "") {
                    console.log(id);
                    GetNotes(id);
                }
                else {
                    $('#ddlSubStageList option').each(function (item) {
                        $("#ddlSubStageList option[value*='" + item + "']").prop('disabled', false);
                        $("#ddlSubStageList option[value*='" + item + "']").removeClass('optionClass');
                    });
                    $('#ddlSubStageList>option:eq(0)').attr('selected', true);
                    $('#dvClientNotes').hide();
                }
            }
        });
    });

    function GetNotes(id) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: "/FileNotes/LoadNotes",
            data: '{Id: ' + JSON.stringify(id) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response);
                $('#dvClientNotes').html(response);
            },
            failure: function (response) {
            },
            error: function (response) {
                $('#dvClientNotes').html(response.responseText);
                $('#dvClientNotes').show();
                $("#divLoader").hide();

                //alert(@ViewBag.CurrentStage);
            }
        });
    }

    function AddReplyToDB() {

        var ddlclientlist = document.getElementById("ddlclientlist");
        var strUser = ddlclientlist.options[ddlclientlist.selectedIndex].value;

        var ddlSubStageList = document.getElementById("ddlSubStageList");
        var strUserSubStage = ddlSubStageList.options[ddlSubStageList.selectedIndex].value;

        if (strUser == 0) {
            toastr.error("Please select the Client!");
        }
        else if ($("#txtnotes").val() == null || $("#txtnotes").val() == "") {
            toastr.error("Please enter your comment!");
            return false;
        }
        else if(strUserSubStage == 0)
        {
            toastr.error("Please select Client Sub Stage!");
        }
        else {
             
            var data = $('#frmaddNotes').serialize();
            console.log(data);
            $.ajax({
                url: $('#frmaddNotes').attr('action'),
                type: 'post',
                dataType: "html",
                data: data,
                success: function (data) {
                    console.log(data)
                    if (data == "True") {
                        toastr.success("Notes Added");
                        //console.log(sucess);
                        $('#ddlclientlist option').each(function (index) {
                            if (($(this).is(':selected'))) {
                                var id = this.value;
                                console.log(id);
                                GetNotes(id);
                                $('#txtnotes').val() == '';

                            }
                        });
                    }
                    else {
                        toastr.error('error occured while adding data');
                    }
                }
            });
        }
    }
</script>
