@model LMSBL.DBModels.TblCourse

@{
    ViewBag.Title = "Delete Course";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteCourse</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoursePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoursePath)
        </dd>

        

       
        <dt>
            @Html.DisplayNameFor(model => model.TenantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenantName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @if (ViewBag.isActive == true)
        {
            <input type="submit" value="Deactivate" class="btn btn-default btn-success" />

        }
        else
        {
            <input type="submit" value="Activate" class="btn btn-default btn-success" />
        }
        @Html.ActionLink("Back to List", "Index")
    </div>
    }
</div>
