@model List<LMSBL.DBModels.CRMNew.EnquiryListing>

<div class="container-fluid mt-4 mb-4 pl-4 pr-4">
    <div class="mt-5 pt-3 pl-3 pr-3 course-list-container list-box">
        <div class="row">
            <div class="col search-container" style="max-width:40%;">
                <i class="fas fa-search"></i>
                <input class="search-box" type="text" id="txtSearch" placeholder="Search User by name..." />
            </div>
        </div>
        <div class="row mt-3" id="dvActivityData">
            <div class="table-responsive">
                <table class="table" id="activityTable">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email ID</th>
                            <th scope="col">Phone No</th>
                            <th scope="col">Intrested Visa</th>
                            <th scope="col">Date</th>

                            @* <th scope="col" style="text-align:center;">Status</th>*@
                            <th scope="col" style="text-align:center;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.Count > 0)
                            {

                                foreach (var user in Model)
                                {
                                    LMSWeb.App_Start.CommonFunctions common = new LMSWeb.App_Start.CommonFunctions();
                                    string userId = common.EncryptString(Convert.ToString(user.Id));
                                    <tr>
                                        <td>@user.Name</td>
                                        <td>@user.Email</td>
                                        <td style="max-width:150px;">@user.Contact</td>
                                        <td>@user.IntrestedVisa</td>
                                        <td>@user.CreatedDate</td>
                                        @*  <td>@user.CreatedDate</td>*@

                                        <td style="text-align:center;">
                                            @if (ViewBag.StageForButton == 1)
                                            {
                                                <a href="@Url.Action("AddEnquiry", "CRMUsers", new { myid = userId })" class="login" title="Edit"><img src="~/assets/images/shape_editUser.png" /></a>
                                                <a href="#" onclick="MoveClient(@user.Id,2,1);" class="login" title="Move to Potential Client"><img width="19" src="~/assets/images/PotentialClient.svg" /></a>
                                                <a href="#" onclick="MoveClient(@user.Id,3,1);" class="login" title="Move to Client"><img width="20" src="~/assets/images/Client.svg" /></a>
                                            }
                                            else if (ViewBag.StageForButton == 2)
                                            {
                                                <a href="@Url.Action("AddPotentialClient", "CRMUsers", new { myid = userId })" class="login" title="Edit"><img src="~/assets/images/shape_editUser.png" /></a>
                                                <a href="#" onclick="MoveClient(@user.Id,1,2);" class="login" title="Move to Inquiry"><img width="20" src="~/assets/images/Inquiry.svg" /></a>
                                                <a href="#" onclick="MoveClient(@user.Id,3,2);" class="login" title="Move to Client"><img width="20" src="~/assets/images/Client.svg" /></a>
                                            }
                                            else if (ViewBag.StageForButton == 3)
                                            {
                                                <a href="@Url.Action("AddClient", "CRMUsers", new { myid = userId })" class="login" title="Edit"><img src="~/assets/images/shape_editUser.png" /></a>                                                
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8" align="center">No User Available</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8">No User Available</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#activityTable').DataTable({
            "aaSorting": [[4, "desc"]],
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 10,
            "pagingType": "simple_numbers",
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-1, -2]
                }
            ]
        });

        $('#activityTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) == 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable').DataTable();
            table.draw();
        });

    });
</script>