@model List<LMSBL.DBModels.UserReportModel>



<div class="mt-5 pt-3 pl-3 pr-3 course-list-container list-box">
    <div class="row">
        <div class="col search-container">
            <i class="fas fa-search"></i>
            <input class="search-box" type="text" id="txtSearch" placeholder="Search User by name..." />
        </div>
        <div class="col text-right">
            <ul class="list-inline progress-list mt-2">
                <li class="list-inline-item"><img src="~/assets/images/shape_Active.png"> Active</li>
                <li class="list-inline-item"><img src="~/assets/images/shape_InactiveUser.png"> Inactive</li>
                <li class="list-inline-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle create-learning-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-file-export"></i> Export
                        </button>
                        <div class="dropdown-menu export-menu" aria-labelledby="dropdownMenuButton">
                            @*<a class="dropdown-item" href="@Url.Action("ExportToExcel", "Reports", new {isActive=Context.Request.QueryString["isActive"]})">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
            Excel
        </a>*@
                            @*<a class="dropdown-item" href="@Url.Action("ExportToPdf", "Reports", new {isActive=Context.Request.QueryString["isActive"]})">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                PDF
                            </a>*@
                            <span class="dropdown-item" onclick='ExportDataByDateInExcel();'>
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                Excel

                            </span>
                            <span class="dropdown-item" onclick='ExportDataByDateInPDF();'>
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                PDF

                            </span>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-3" id="dvActivityData">
        <div class="table-responsive">
            <table class="table" id="activityTable">
                <thead>
                    <tr>
                        <th scope="col" style="text-align:center;">Sr. No.</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email ID</th>
                        <th scope="col">Contact No</th>
                        <th scope="col" style="text-align:center;">Learning</th>
                        <th scope="col" style="text-align:center;">Status</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Last Login</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {

                        if (Model.Count > 0)
                        {
                            int count = 0;
                            foreach (var user in Model)
                            {

                                count++;
                                <tr>
                                    <td style="text-align:center;">@count</td>
                                    <td>@user.FullName</td>
                                    <td>@user.EmailId</td>
                                    <td>@user.PhoneNo</td>
                                    <td style="text-align:center;">@user.LearningAssigned</td>
                                    @if (user.isActive == true)
                                    {
                                        <td style="text-align:center;"><img src="~/assets/images/shape_activeBig.png" title="Active" alt="Active"></td>
                                    }
                                    else
                                    {
                                        <td style="text-align:center;"><img src="~/assets/images/shape_InactiveBig.png" title="Inactive" alt="Inactive"></td>
                                    }

                                    <td>@user.DateCreated</td>
                                    <td>@user.LastLogin</td>

                                    @if (user.LearningAssigned == "0")
                                    {
                                        <td style="text-align:center;">-</td>
                                    }
                                    else
                                    {
                                        <td style="text-align:center;"><a href="@Url.Action("UserProgressReport", "Reports", new { UserId = user.UserId })" class="login" title="View Detail"> View Progress</a></td>
                                    }
                                </tr>

                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8" align="center">No Activity Available</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8">No Activity Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('#activityTable').DataTable({
            "aaSorting": [[ 0, "asc" ]],
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 10,
            "pagingType": "simple_numbers",
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-1]
                }
            ]
            //language: {
            //    paginate: {
            //        next: '&#8594;', // or '→'
            //        previous: '&#8592;' // or '←'
            //    }
            //}
        });

        $('#activityTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) == 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable').DataTable();
            table.draw();
        });
    });
    function ExportDataByDateInExcel() {
        console.log("enter");
        var params = new URLSearchParams(window.location.search);
        var ActivityId = params.get('ActivityId');
        var type = params.get('Type');
        var fDate = $('#fDate').val();
        var tDate = $('#tDate').val();
        var urlLink = "@Url.Action("ExportToExcel", "Reports")";
        urlLink = urlLink + "?fDate=" + fDate + "&tDate=" + tDate + "&isActive= false";
        console.log(urlLink);
        window.location.href = urlLink;


    }
    function ExportDataByDateInPDF() {
        //console.log("enter");
        var params = new URLSearchParams(window.location.search);
        var ActivityId = params.get('ActivityId');
        var type = params.get('Type');
        var fDate = $('#fDate').val();
        var tDate = $('#tDate').val();
        var urlLink = "@Url.Action("ExportToPdf", "Reports")";
        urlLink = urlLink + "?fDate=" + fDate + "&tDate=" + tDate + "&isActive= false";
        console.log(urlLink);
        window.location.href = urlLink;


    }

</script>

<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>