@model LMSBL.DBModels.TblQuiz
@{
    ViewBag.Title = "Attempt Report";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


@using (Html.BeginForm("SubmitQuiz", "Assignment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="container-fluid mt-4 mb-4 pl-4 pr-4">
        <div class="row" style="margin-left:60px;">
            <div class="col">
                <h4 class="title-color">Review Quiz</h4>
            </div>
        </div>

        <div class="container" >
            @Html.HiddenFor(model => model.QuizId)
            @Html.HiddenFor(model => model.hdnResponseData, new { @id = "hdnResponseData" })
            @Html.HiddenFor(model => model.hdnReviewData, new { @id = "hdnReviewData" })
            <div class="user-quiz-top-section mb-2 mt-3 p-2 list-box" >
                <div class="col-12 mb-2">
                   
                    Name: <span class="grey-color">@Model.QuizName</span><br />
                    Description: <span class="grey-color">@Model.QuizDescription</span>
                    
                </div>
                <div class="col-12">
                    @if (Model.Duration != 0)
                    {
                        var durationInSeconds = Convert.ToInt32(Model.Duration) * 60;
                        TimeSpan t = TimeSpan.FromSeconds(durationInSeconds);
                        var duration = string.Format("{0:D2}:{1:D2}", (int)t.Minutes, t.Seconds);
                        <div id="showtime">Duration : <b>@duration </b>Mins. </div>
                    }
                    @*@if (Model.Score == 0)
                    {*@
                        <div  id="showtime" style="margin-bottom:10px;">Score: <b>@Model.Score</b></div>
                    @*}
                    else
                    {
                        var score = Convert.ToString((Convert.ToInt32(Model.Score) * 100) / Convert.ToInt32(Model.TblQuestions.Count)) + "%";
                        <div class="blue-color" id="showtime" style="margin-bottom:10px;"><b>Score: @score</b></div>
                    }*@
                </div>
            </div>
            <div id="dvQuestions"></div>

        </div>
    </div>
}

<!-- include summernote css/js -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
<script src="~/assets/Quiz.js"></script>



